#area-cabecalho {
  background-image: url(../img/capa.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  font: 16px Arial, Helvetica, sans-serif; 
  color: white;
  height: 100vh;
}

#product  {
  margin-block: 80px;
}

#product .img_product {
  width: 300px;
  height: 600px;
}

#menu-inicial {
  background: orangered;
}

footer {
  background: orangered;
}